body {
  background-color: #f7f9fc;
}

.point-font {
  color: #6fbaf8;
  letter-spacing: 0.1em;
}

.profile-head {
  padding: 3em;
  border: none;
  border-radius: 2em;
}
.profile-button {
  background-color: #6fbaf8;
  color: white;
  border: none;
  padding: 1em 2em 1em 2em;
}

.skill-button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: min-content;
  border-radius: 3em;
  border: 1px solid black;
}
